html {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 0;
}

video {
	background-color: #000000;
}

.emp-controls {
	height: 38px;
	
	background: #4c4c4c;
	background: -moz-linear-gradient(top, #000000 0%, #2a2a2a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#2a2a2a));
	background: -webkit-linear-gradient(top, #000000 0%,#2a2a2a 100%);
	background: -o-linear-gradient(top, #000000 0%,#2a2a2a 100%);
	background: -ms-linear-gradient(top, #000000 0%,#2a2a2a 100%);
	background: linear-gradient(top, #000000 0%,#2a2a2a 100%);
}

.emp-play-pause {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	background: transparent url(../images/play_pause.png);
}

.emp-play {
	background-position: 0 30px;
}

.emp-play:hover {
	background-position: -30px 30px;
}

.emp-pause {
	background-position: 0 0;
}

.emp-pause:hover {
	background-position: -30px 0;
}

.emp-seek-bar {
	cursor: pointer;
	width: 100%;
	height: 8px;
	
	border-top: 1px solid #3a3a3a;
	border-bottom: 1px solid #333333;
	
	background: #2a2a2a;
	background: -moz-linear-gradient(top, #2a2a2a 0%, #1a1a1a 50%, #000000 51%, #131313 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(50%,#1a1a1a), color-stop(51%,#000000), color-stop(100%,#131313));
	background: -webkit-linear-gradient(top, #2a2a2a 0%,#1a1a1a 50%,#000000 51%,#131313 100%);
	background: -o-linear-gradient(top, #2a2a2a 0%,#1a1a1a 50%,#000000 51%,#131313 100%);
	background: -ms-linear-gradient(top, #2a2a2a 0%,#1a1a1a 50%,#000000 51%,#131313 100%);
	background: linear-gradient(top, #2a2a2a 0%,#1a1a1a 50%,#000000 51%,#131313 100%);
}

.emp-progress-bar {
	width: 0;
	height: 8px;
	
	background: #2e7ac7;
	background: -moz-linear-gradient(top, #2e7ac7 0%, #2970b8 50%, #225e9b 51%, #2465a8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(50%,#1a1a1a), color-stop(51%,#225e9b), color-stop(100%,#2465a8));
	background: -webkit-linear-gradient(top, #2e7ac7 0%,#2970b8 50%,#225e9b 51%,#2465a8 100%);
	background: -o-linear-gradient(top, #2e7ac7 0%,#2970b8 50%,#225e9b 51%,#2465a8 100%);
	background: -ms-linear-gradient(top, #2e7ac7 0%,#2970b8 50%,#225e9b 51%,#2465a8 100%);
	background: linear-gradient(top, #2e7ac7 0%,#2970b8 50%,#225e9b 51%,#2465a8 100%);
}

.emp-time {
	float: right;
	height: 30px;
	padding: 0 8px;
	font-size: 12px;
	color: #aaaaaa;
	line-height: 30px;
}

.emp-current-time {
	color: #ffffff;
}