<div class="lens-slider-track lens-seek-bar"></div>

<a class="lens-play-pause-button<%
	if (paused !== true) {
		print(' lens-pause-button');
	}
%>" href="#"></a>

<div class="lens-divider-left"></div>

<div class="lens-playback-rate"></div>

<div class="lens-divider-left lens-divider-playback-rate"></div>

<a class="lens-fullscreen-button" href="#"></a>

<div class="lens-divider-right lens-divider-fullscreen"></div>

<div class="lens-volume"></div>

<div class="lens-divider-right lens-divider-volume"></div>

<div class="lens-time"><span class="lens-current-time"><%= formattedTime %></span> / <span class="lens-duration"><%= formattedDuration %></span></div>

<div class="lens-divider-right"></div>