<div class="emp-seek-bar"></div>

<a class="emp-play-pause-button<%
	if (paused !== true) {
		print(' emp-pause-button');
	}
%>" href="#"></a>

<div class="emp-divider-left"></div>

<div class="emp-playback-rate-container">
	<a class="emp-playback-rate-button" href="#"></a>
	<div class="emp-playback-rate-slider">
		<div class="emp-playback-rate-thumb"></div>
		<div class="emp-playback-rate-bar"></div>
	</div>
</div>

<div class="emp-divider-left emp-divider-playback-rate"></div>

<a class="emp-fullscreen-button" href="#"></a>

<div class="emp-divider-right emp-divider-fullscreen"></div>

<div class="emp-volume-container">
	<a class="emp-volume-button" href="#"></a>
	<div class="emp-volume-slider">
		<div class="emp-volume-thumb"></div>
		<div class="emp-volume-bar"></div>
	</div>
</div>

<div class="emp-divider-right"></div>

<div class="emp-time"><span class="emp-current-time"><%= formattedTime %></span> / <span class="emp-duration"><%= formattedDuration %></span></div>

<div class="emp-divider-right"></div>