<div class="emp-slider-track emp-seek-bar"></div>

<a class="emp-play-pause-button<%
	if (paused !== true) {
		print(' emp-pause-button');
	}
%>" href="#"></a>

<div class="emp-divider-left"></div>

<div class="emp-playback-rate"></div>

<div class="emp-divider-left emp-divider-playback-rate"></div>

<a class="emp-fullscreen-button" href="#"></a>

<div class="emp-divider-right emp-divider-fullscreen"></div>

<div class="emp-volume"></div>

<div class="emp-divider-right emp-divider-volume"></div>

<div class="emp-time"><span class="emp-current-time"><%= formattedTime %></span> / <span class="emp-duration"><%= formattedDuration %></span></div>

<div class="emp-divider-right"></div>